// CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

@font-face{
  font-family:'DNFBitBitv2';
  font-style:normal;font-weight:400;src:url('//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf')format('opentype')
}

.navbar {
  position: fixed; // Navbar를 상단에 고정시키는 코드를 추가
  top: 0; // 상단에 고정되도록 하는 코드를 추가
  left: 0; // 왼쪽에 고정되도록 하는 코드를 추가
  width: 100%; // Navbar의 너비를 전체 너비로 설정
  z-index: 10;
  backdrop-filter: blur(5px);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #78A083; // Adding color rule to "a" tag
  }
}

.midori-dev {
  font-family: DNFBitBitv2, serif;
  font-size: 3rem;
}

.social-media {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: row;
  gap: 1rem;
}

nav {
  display: flex;
  gap: 40vw;
  align-items: center;
}