// CSS Reset
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: inherit;
}

.navbar {
  position: fixed; // Navbar를 상단에 고정시키는 코드를 추가
  top: 0; // 상단에 고정되도록 하는 코드를 추가
  left: 0; // 왼쪽에 고정되도록 하는 코드를 추가
  width: 100%; // Navbar의 너비를 전체 너비로 설정
  z-index: 1000;
  backdrop-filter: blur(5px);
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;

  a {
    color: #78A083; // Adding color rule to "a" tag
  }
}

nav {
  display: flex;
  gap: 900px;
}